extends layout
block content
    h1= title

    div

    each item,i in items
            h5
                a(href="#{item.link}" target="_blank" ) 　#{item.title}
                img(src="#{item.imgSrc}")

    ul.sync-pagination.pagination-sm
    //http://esimakin.github.io/twbs-pagination/
    script(src="/javascripts/jquery.twbsPagination.min.js")
    script.
      $(document).ready(function () {
                     $('.sync-pagination').twbsPagination({
                         totalPages: #{items.totalPages},
                         visiblePages: 7,
                         first:'首页',
                         last:'末页',
                         prev:'上一页',
                         next:'下一页',
                         href:'?tab=all&page={{number}}',
                         onPageClick: function (evt, page) {
                             $('#sync-example-page-content').text('Page ' + page);
                         }
                     });
                 });
